.foldcontent-panel {
    box-sizing: border-box;
    position: relative;
    width: 700px;
	margin: 20px auto;
	padding: 30px;
	color: #666;
	line-height: 2.5;
	border: 1px solid #eee;
	box-shadow: 5px 6px 5px #ccc;
}
.all-content {
	display: none;
}
.unfold {
    position: absolute;
    border-radius: 5px;
	cursor: pointer;
}
.slide-btn {
    animation: foldSlide .1s ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes foldSlide {
    from {
        bottom: 0;
    }
    to {
        bottom: 15px;
    }
}
@keyframes foldSlide {
    from {
        bottom: 0;
    }
    to {
        bottom: 15px;
    }
}